<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Product List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-5">All Product List (card or list)</h1>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>ID</th>
                        <th>PRODUCT NAME</th>
                        <th class="text-end">PRICE</th>
                        <th class="text-center">OPTIONS</th>
                    </tr>

                    <% data.forEach(item=>{ %>
                        <tr>
                            <td>
                                <%= item.id %>
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td class="text-end">
                                <%= item.price %>
                            </td>
                            <td class="text-center"><button class="edit" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Edit</button>
                                <button class="delete" data-bs-toggle="modal"
                                    data-bs-target="#deleteModel">Delete</button>
                            </td>
                        </tr>
                        <% }); %>
                </table>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Product Details Here</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="productForm">
                        <label for="id" class="form-label">ID Number</label>
                        <input type="text" name="id" disabled class="form-control">
                        <label for="name" class="form-label">Product Name</label>
                        <input type="text" name="name" placeholder="Product Name" class="form-control">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="price" placeholder="Price" class="form-control">
                        <input type="submit" value="Submit" class="mt-3 button">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModelLabel">Delete Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>Are you sure?</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" id="deleteConfirm" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        const editButton = document.querySelectorAll(".edit");
        const deleteButton = document.querySelectorAll(".delete");
        const form = document.getElementById("productForm");
        const deleteConfirmButton = document.getElementById("deleteConfirm");

        let id = form.elements['id'];
        let name = form.elements["name"];
        let price = form.elements["price"];

        //click event for edit button
        editButton.forEach(function (button) {
            button && button.addEventListener("click", e => {
                // console.log(e.target)
                // console.log(e.target.parentElement.parentElement);
                const row = e.target.closest("tr");
                //set value for form field
                id.value = row.cells[0].textContent.trim();
                name.value = row.cells[1].textContent.trim();
                price.value = parseInt(row.cells[2].textContent.trim());
            })
        })

        //click event for delete button
        deleteButton.forEach(function (button) {

            button && button.addEventListener("click", e => {
                const row = e.target.closest("tr");
                //set value for form field
                id.value = row.cells[0].textContent.trim();

                deleteConfirmButton && deleteConfirmButton.addEventListener("click", e => {

                    fetch(`/product/${id.value}`, {
                        method: "delete",
                        headers: { 'Content-Type': 'application/json' }
                    }).then(res => {
                        if (!res.ok) {
                            throw new Error("Product Not Deleted")
                        }
                    }).then(data => {
                        alert("Deleted SuccessFully");
                        location.reload();
                    }).catch(err => {
                        alert(err);
                    })
                })
            })
        })


        //event for form submission
        form.addEventListener("submit", e => {
            e.preventDefault();
            name = form.elements["name"].value;
            price = form.elements["price"].value;
            const newProduct = { name, price };
            // console.log(newProduct)
            // console.log("Fetched Details from the form :", newProduct)
            fetch(`/product/${id.value}`, {
                method: "PATCH",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(newProduct)

            }).then(res => {
                if (!res.ok) {
                    throw new Error("Not Edited Successfully")
                }
                return res.json();
            }).then(data => {
                alert(`${data.data.id} ${data.data.name} ${data.data.price}`)
                // console.log(data.data)
                location.reload();
            }).catch(err => {
                alert(err)
            })
        });
    </script>
</body>

</html>